.menu{
    width: 100%;
    height: 50px;
    background-color: aliceblue;
    padding-top: 10px;
    font-size: 19px;
}
.menu > a
{
    margin-right: 10px;
    margin-left: 10px;
}
.content{
    position: relative;
    top:10px;
    bottom:10px;
}
.error
{
    color: red;
}

.link_company{
    display: inline-block;
    margin: 10 10 10 10;
    color: black;
}
.link_company a{
    color: black;
}
.content{
    position: relative;
    top:10px;
    bottom:10px;
    width: 70%;
   
}
.company_card_name , .add_comment_text , .company_card_information , .comment_text2{
    width: 612px;
    border: 1px solid black;
    margin: 5 5 5 5;
}
.add_comment , .count_comment{
    cursor: pointer;
}
.add_comment_text textarea{
    position: relative;
    width: 100%;
    margin-bottom: 5;
}
.comment_text2 .text{
    width: 100%;
    background-color: cadetblue;
}

.comment_text2 .comment
{
    padding-bottom: 5;
    padding-top: 5;
}
.head_text
{
    font-size: 31px;
    font-weight: bolder;
    text-align: center;
}
.head_text_2
{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}
.head_text_3
{
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
}
.add_company{
    display: inline-block;
    width: 300px;
    border: 1px solid black;
    margin: 5 5 5 5;
    padding: 5 5 5 5;
}
.success{
    color: green;
}
